<div class="p-12 w-full h-screen overflow-auto">
  <div class="text-outline-blue-2 text-xl mb-4 font-rubik">
    <span>
      LionBlockchain Explorer
    </span>
  </div>
  <div class="w-1/2 mb-4">
    <ec-input-search [ecStyle]="ecStyle"></ec-input-search>
  </div>
  <div class="w-full py-2 px-2 border-b-2 border-outline-gray-3 flex font-rubik">
    <div class="w-3/12 mr-4 flex flex-col justify-center">
      <div class="flex">
        <div>
          <div class="rounded-full bg-container-blue-3 h-12 w-12 flex justify-center items-center">
            <div class="rounded-full bg-white h-6 w-6"></div>
          </div>
        </div>
        <div class="ml-2 text-outline-blue-3">
          <div>
            <span>Açaí Price</span>
          </div>
          <div>
            <span>$4,114.69 @ 0.07524 BTC </span><span class="text-outline-alert-error">(-0.34%)</span>
          </div>
        </div>
      </div>
      <div class="flex mt-6">
        <div>
          <div class="rounded-full bg-container-blue-3 h-12 w-12 flex justify-center items-center">
            <div class="rounded-full bg-white h-6 w-6"></div>
          </div>
        </div>
        <div class="ml-2 text-outline-blue-3">
          <div>
            <span>Market Cap</span>
          </div>
          <div>
            <span>$476,678,935,648.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3/12 mr-4 flex flex-col justify-center">
      <div class="flex">
        <div>
          <div class="rounded-full bg-container-blue-3 h-12 w-12 flex justify-center items-center">
            <div class="rounded-full bg-white h-6 w-6"></div>
          </div>
        </div>
        <div class="ml-2 text-outline-blue-3">
          <div>
            <span>Transactions</span>
          </div>
          <div>
            <span>$4,114.69 (18.2 TPS)</span>
          </div>
        </div>
      </div>
      <div class="flex mt-6">
        <div>
          <div class="rounded-full bg-container-blue-3 h-12 w-12 flex justify-center items-center">
            <div class="rounded-full bg-white h-6 w-6"></div>
          </div>
        </div>
        <div class="ml-2 text-outline-blue-3">
          <div>
            <span>Difficulty</span>
          </div>
          <div>
            <span>7,750.02 TH</span>
          </div>
        </div>
      </div>
    </div>
    <div id="chart" class="w-1/2">
      <apx-chart
        [series]="series"
        [chart]="chart"
        [xaxis]="xaxis"
        [dataLabels]="dataLabels"
        [grid]="grid"
        [stroke]="stroke"
        [title]="title"
      ></apx-chart>
    </div>
  </div>
  <div class="w-full flex mt-6">
    <div class="w-1/2 px-6 font-rubik">
      <div class="text-outline-gray-3">
        <span>
          Latest Blocks
        </span>
      </div>
      <div class="mt-4 p-2">
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                BK
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  12422198
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span class="text-outline-blue-2">267 txns </span><span>in 3 secs</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                BK
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  12422198
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span class="text-outline-blue-2">267 txns </span><span>in 3 secs</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                BK
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  12422198
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span class="text-outline-blue-2">267 txns </span><span>in 3 secs</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                BK
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  12422198
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span class="text-outline-blue-2">267 txns </span><span>in 3 secs</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/2 font-rubik">
      <div class="text-outline-gray-3">
        <span>
          Latest Transactions
        </span>
      </div>
      <div class="mt-4 p-2">
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                Tx
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  0xaee4121231231af1...
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span>267 txns </span><span class="text-outline-blue-2 cursor-pointer">0xaee412123123f1...</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                Tx
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  0xaee4121231231af1...
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span>267 txns </span><span class="text-outline-blue-2 cursor-pointer">0xaee412123123f1...</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                Tx
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  0xaee4121231231af1...
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span>267 txns </span><span class="text-outline-blue-2 cursor-pointer">0xaee412123123f1...</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                Tx
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  0xaee4121231231af1...
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span>267 txns </span><span class="text-outline-blue-2 cursor-pointer">0xaee412123123f1...</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="flex">
            <div class="w-12 h-12 flex justify-center bg-outline-gray-3 items-center font-rubik rounded-lg">
              <span>
                Tx
              </span>
            </div>
            <div class="ml-2">
              <div class="text-outline-blue-2 cursor-pointer">
                <span>
                  0xaee4121231231af1...
                </span>
              </div>
              <div class="text-outline-gray-3">
                <span>
                  1 min 4 secs ago
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>Miner </span><span class="text-outline-blue-2 cursor-pointer">0xaee4121231231af1...</span>
            </div>
            <div class="text-outline-gray-3">
              <span>267 txns </span><span class="text-outline-blue-2 cursor-pointer">0xaee412123123f1...</span>
            </div>
          </div>
          <div>
            <div class="text-outline-gray-3">
              <span>8.16521 txns</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ec-modal [activeModal]="true" bgBoxColor="bg-ui" bgContainerColor="bg-ui"
          brBoxColor="border-container-blue-4">
  <div>
    <div class="text-outline-gray-3 flex items-center text-center text-2xl font-rubik font-bold">
      <div>
        <span>
          Resumen
        </span>
      </div>
    </div>
    <div class="text-outline-gray-3 text-justify mt-4">
      <p>
        Esta transacción se transmitió a la red de LionBlockchanin el día agosto 14, 2021 a las 10:48 AM GMT -05:00. La transacción
        tiene actualmente 0 confirmaciones en la red. En el momento de esta transacción, 0.00194301 Aça se envió con un
        valor de $91.00. El valor actual de esta transacción ahora es de 91,01 US$.
      </p>
    </div>
    <div class="flex items-center justify-center mt-4">
      <qr-code [value]="qrInfo" [size]="200"></qr-code>
    </div>
    <div class="text-outline-gray-3 flex items-center text-center text-2xl font-rubik font-bold mt-4">
      <div>
        <span>
          Detalles
        </span>
      </div>
    </div>
    <div class="mt-4 p-4">
      <div class="flex border-b-2 border-outline-gray-3 mb-1 pb-1">
        <div class="text-outline-gray-3 mr-4 w-12">
          <span>
            Hash
          </span>
        </div>
        <div class="text-outline-gray-3 mr-4 overflow-ellipsis w-full overflow-hidden font-bold">
          <span class="">
            a7584649b66730ff2d637730371011e8d94bd22ee14fd544b61a15b3b493c28e
          </span>
        </div>
      </div>
      <div class="flex border-b-2 border-outline-gray-3 mb-1 pb-1">
        <div class="text-outline-gray-3 mr-4 w-12">
          <span>
            Monto
          </span>
        </div>
        <div class="text-outline-gray-3 mr-4 overflow-ellipsis w-full overflow-hidden font-bold">
          <span class="">
            91,01 US$ - 0.00045 Aça
          </span>
        </div>
      </div>
      <div class="flex border-b-2 border-outline-gray-3 mb-1 pb-1">
        <div class="text-outline-gray-3 mr-4 w-12">
          <span>
            From
          </span>
        </div>
        <div class="text-outline-gray-3 mr-4 overflow-ellipsis w-full overflow-hidden font-bold">
          <span>
            0xdb0421b556252a73e5fba37d156ea168d5f7e936
          </span>
        </div>
      </div>
      <div class="flex border-b-2 border-outline-gray-3 mb-1 pb-1">
        <div class="text-outline-gray-3 mr-4 w-12">
          <span>
            To
          </span>
        </div>
        <div class="text-outline-gray-3 mr-4 overflow-ellipsis w-full overflow-hidden font-bold">
          <span>
            0xdb0421b556252a73e5fba37d156ea168d5f7e936
          </span>
        </div>
      </div>
    </div>
    <div class="text-outline-gray-3 flex items-center text-center text-2xl font-rubik font-bold mt-4">
      <div>
        <span>
          Data
        </span>
      </div>
    </div>
  </div>
</ec-modal>

