<div class="text-outline-blue-2 text-xl">
  <span>
    Only One Blockchain Explorer
  </span>
  <div>
    <div class="mb-2">
      <label class="inp-txt text-outline-gray-3">esto es el label</label>
    </div>
    <div
      class="input-container bg-container-gray-1 focus-within:border-container-gray-3 hover:border-container-gray-3 border-container-gray-1">
      <input type="text" class="inp inp-txt text-neutral_gray-70 focus:outline-none dark:text-neutral_gray-30"/>
      <div class="flex pr-4">
        <div class="self-center">
          <span>a</span>
        </div>
      </div>
    </div>
    <div class="text-outline-alert-info font-inter help-text">
      <span>
        message help
      </span>
    </div>
    <div  class="alerts-container">
      <span class="w-full text-outline-alert-error">
        message alert
      </span>
    </div>
  </div>
</div>
