<div class="bj-container block-container">
  <div class="modal">
    <div class="header">
      <span class="t-title text-st-90">Bloque</span>
      <div>
        <button class="b-ghost">
          <div>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.89705 4.05379L3.96967 3.96967C4.23594 3.7034 4.6526 3.6792 4.94621 3.89705L5.03033 3.96967L10 8.939L14.9697 3.96967C15.2359 3.7034 15.6526 3.6792 15.9462 3.89705L16.0303 3.96967C16.2966 4.23594 16.3208 4.6526 16.1029 4.94621L16.0303 5.03033L11.061 10L16.0303 14.9697C16.2966 15.2359 16.3208 15.6526 16.1029 15.9462L16.0303 16.0303C15.7641 16.2966 15.3474 16.3208 15.0538 16.1029L14.9697 16.0303L10 11.061L5.03033 16.0303C4.76406 16.2966 4.3474 16.3208 4.05379 16.1029L3.96967 16.0303C3.7034 15.7641 3.6792 15.3474 3.89705 15.0538L3.96967 14.9697L8.939 10L3.96967 5.03033C3.7034 4.76406 3.6792 4.3474 3.89705 4.05379L3.96967 3.96967L3.89705 4.05379Z"/>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div class="body w-full">
      <div class="section-abstract section w-full">
        <span class="t-subtitle text-st-90">Resumen</span>
        <div class="info w-full">
          <div class="abstract">
            <div class="data">
              <span>Fecha de transmición</span>
              <span>15225521</span>
            </div>
            <div class="data">
              <span>Confirmaciones de red</span>
              <span>51%</span>
            </div>
            <div class="data">
              <span>Cantidad Açai</span>
              <span>12123312</span>
            </div>
            <div class="data">
              <span>Cantidad USD</span>
              <span>$123312312</span>
            </div>
          </div>
          <div class="qr-code">
            <div class="p-1" style="background: white">
            </div>
            <a target="_blank">Click aquí, si no puede leer el QR</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 lg:flex-row w-full">
        <div class="section-details w-full section flex flex-col space-y-4">
          <span class="t-subtitle text-st-90">Detalles</span>
          <div class="details">
            <div class="primary-data">
              <div class="data">
                <span>Monto</span>
                <span>USD $21212312</span>
              </div>
              <div class="data">
                <span>Block Hash</span>
                <span>213132132312</span>
              </div>
            </div>
            <div class="data-group">
              <div class="data">
                <span>De</span>
                <span>3234234</span>
              </div>
              <div class="data">
                <span>Para</span>
                <span>3234234</span>
              </div>
              <div class="data">
                <span>Minero</span>
                <span>3234234</span>
              </div>
              <div class="data">
                <span>Fecha de Creación</span>
                <span>3234234</span>
              </div>
              <div class="data">
                <span>Ultima Validación</span>
                <span>3234234</span>
              </div>
              <div class="data">
                <span>Fecha de Minado</span>
                <span>3234234</span>
              </div>
            </div>
          </div>
        </div>
        <div class="section-data w-full section flex flex-col space-y-4">
          <span class="t-subtitle text-st-90">Data</span>
          <div *ngIf="false" class="notify-null">
            <div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.686 2.85207L2.12727 14.777C1.57744 15.7767 2.30069 16.9999 3.44159 16.9999H16.559C17.7 16.9999 18.4232 15.7767 17.8734 14.777L11.3146 2.85207C10.7448 1.81591 9.25588 1.81591 8.686 2.85207ZM10.0003 6.74992C10.4145 6.74992 10.7503 7.0857 10.7503 7.49992V11.4999C10.7503 11.9141 10.4145 12.2499 10.0003 12.2499C9.58609 12.2499 9.25031 11.9141 9.25031 11.4999V7.49992C9.25031 7.0857 9.58609 6.74992 10.0003 6.74992ZM10.7503 13.7499C10.7503 14.1641 10.4145 14.4999 10.0003 14.4999C9.58609 14.4999 9.25031 14.1641 9.25031 13.7499C9.25031 13.3357 9.58609 12.9999 10.0003 12.9999C10.4145 12.9999 10.7503 13.3357 10.7503 13.7499Z"/>
              </svg>
            </div>
            <span>Información disponible solo para los involucrados en la transacción.</span>
          </div>
          <div *ngIf="true" class="data-container">
            <div>
              <div class="attribute">
                <span>atributo name</span>
                <span>atributo value</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
