<app-header></app-header>
<div class="ec-container-margin py-12 overflow-auto" style="height: calc(100vh - 48px)">

  <div class="flex items-center mb-4">
    <div class="w-3 h-8 rounded bg-container-blue-3 mr-2">
    </div>
    <div class="t-subtitle-1 text-outline-blue-3 text-xl">
      <span>News</span>
    </div>
  </div>

  <div class="rounded overflow-hidden dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
    <div class="dsc-carousel__btns">
      <span appIcon iconColor="text-outline-gray-3" iconName="chevron left" (click)="setBack()"
            class="cursor-pointer"></span>
      <span appIcon iconColor="text-outline-gray-3" iconName="chevron right" (click)="setNext()"
            class="cursor-pointer"></span>
    </div>
    <div class="dsc-carousel__content">
      <ng-container *ngFor="let section of items;">
        <div class="dsc-carousel__content-item" [ngStyle]="{'margin-left': section.marginLeft + '%' }">
          <h1> {{section?.title?.first}} <span> {{section?.title?.second}}</span></h1>
          <p> {{section.subtitle}} </p>
        </div>
      </ng-container>
    </div>
    <div class="dsc-carousel__steps">
      <div
        class="dsc-carousel__steps-step
            dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}"
        *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
      </div>
    </div>
  </div>


  <!--<div class="ec-combo">
    <div *ngIf="ecStyle.headerLabel.label != ''"
         class="tag-container {{ecStyle.headerLabel.color}} {{ecStyle.headerLabel.font}} {{ecStyle.headerLabel.size}}">
      <label>{{ecStyle.headerLabel.label}}</label>
      <span *ngIf="ecStyle.optional" style="overflow-wrap: break-word;">Opcional</span>
    </div>
    <div class="combo-container {{ecStyle.headerLabel.color}}">
      <div
        class="select-container {{ecStyle.container.background}} hover:{{ecStyle.container.border.hover}} {{ecStyle.container.border.round}} {{ecStyle.container.border.style}} {{ecStyle.container.border.size}} {{ecStyle.container.border.color}}"
        (click)="showBox()">
        <span class="text-base value-container">{{currentValue === '' ? ecStyle.placeholder.label : placeholderValue}}</span>
        <div *ngIf="ecStyle.icon.active" style="padding: 0.75rem;" class="{{isShowBox ? 'icon-transform icon-rotate-180' : ''}}">
          <span appIcon iconName="caret down" [iconColor]="ecStyle.icon.color">
          </span>
        </div>
      </div>
      <div *ngIf="isShowBox" class="option-container {{ecStyle.optionContainer.background}} {{ecStyle.optionContainer.border.color}} {{ecStyle.optionContainer.border.round}} {{ecStyle.optionContainer.border.style}} {{ecStyle.optionContainer.border.size}}">
        <div *ngIf="ecStyle.filter" class="search-container">
          <div
            class="combo {{ecStyle.headerLabel.color}} {{ecStyle.optionContainer.background}} {{ecStyle.optionContainer.border.size}} {{ecStyle.optionContainer.border.color}} {{ecStyle.optionContainer.border.style}}">
            <input class="input-search {{ecStyle.placeholder.color}} {{ecStyle.optionContainer.background}}" autofocus (input)="filterValue($event)"
                   placeholder="Selected Values">
            <div class="icon-search">
              <span appIcon iconName="search" [iconColor]="ecStyle.icon.color"></span>
            </div>
          </div>
        </div>
        <div class="option-group {{ecStyle.headerLabel.color}}">
          <div *ngFor="let item of ecStyle.data" class="option hover:{{ecStyle.optionContainer.border.hover}}">
            <span style="overflow-wrap: break-word; width: 100%"
                  (click)="changeValue(item)">{{item.label}}</span>
          </div>
          <div *ngIf="ecStyle.data.length === 0" class="option hover:{{ecStyle.optionContainer.border.hover}}">
            <span style="overflow-wrap: break-word; width: 100%">No Values</span>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-container">
    <span *ngIf="ecStyle.error"
          class="{{ecStyle.alert.error.color}} {{ecStyle.alert.error.size}} {{ecStyle.alert.error.font}}"
          style="margin-top: 4px">{{ecStyle.alert.error.label}}</span>
    </div>
  </div>-->
</div>



