<div class="p-4" *ngIf="isValidToken && !isError">
  <div class="text-3xl font-bold text-center text-outline-gray-3">
    <span>{{credential.name}}</span>
  </div>
  <div class="text-base text-center text-outline-gray-3 mt-4">
    <span>{{credential.description}}</span>
  </div>
  <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4 overflow-y-scroll" style="height: 87vh"
       *ngIf="!isBlockPage">
    <div>
      <div class="text-outline-gray-3 mt-6 flex gap-4 items-center">
        <div>
          <div
            class="rounded-lg border-solid border-2 border-container-gray-3 w-12 h-12 flex items-center justify-center">
            <span appIcon iconColor="text-outline-alert-success" iconName="checkmark circle"></span>
          </div>
        </div>
        <div class="text-outline-blue-3 text-2xl font-bold">
          <span>Signature Verified</span>
        </div>
      </div>
      <div class="mt-6 mx-6 flex flex-col gap-4 overflow-y-scroll px-4 container-viewer">
        <div *ngFor="let identifier of credential.identifiers; let position = index">
          <div class="text-outline-gray-3 font-bold flex gap-2 text-xl items-center" *ngIf="validateData(position)">
            <span>{{identifier.name}}</span>
            <span appIcon iconName="caret down" iconColor="text-outline-gray-3"
                  class="cursor-pointer transform {{sec1 && 'rotate-180'}}" (click)="sec1 = !sec1"></span>
          </div>
          <div *ngIf="sec1 && validateData(position)"
               class="border-solid border border-outline-gray-3 rounded flex gap-4 p-4 text-outline-gray-3 mt-4 w-full">
            <div class="flex flex-col gap-4 w-full">
              <div *ngFor="let item of identifier.attributes"><span
                *ngIf="validateAttributes(item.id)">{{item.name}}</span></div>
            </div>
            <div class="flex flex-col gap-4 w-full">
              <div *ngFor="let item of identifier.attributes"><span
                *ngIf="validateAttributes(item.id)">{{item.value}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="credential.files.length > 0" class="mt-6">
      <ec-dropdown class="w-full" [ecStyle]="ecDropFile" [(ngModel)]="documentSelected"></ec-dropdown>
      <div class="w-full p-4" style="height: 80vh">
        <app-pdf-viewer [base64Document]="documentSelected"></app-pdf-viewer>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isValidToken && isError" class="w-screen h-screen flex items-center justify-center">
  <div class="border-2 rounded-lg border-solid border-outline-gray-3 flex items-center justify-center p-6 container-alert">
    <div class="text-outline-gray-3 mt-6 flex flex-col gap-4 items-center">
      <div class="w-20 h-20">
        <span appIcon iconColor="text-outline-alert-error w-full h-full" iconName="dismiss circle"></span>
      </div>
      <div class="text-outline-blue-3 text-2xl font-bold">
        <span>Invalid Signature</span>
      </div>
    </div>
  </div>
</div>

<div class="fixed top-0 z-50 bg-black  w-screen h-screen flex items-center justify-center"
     style="background: rgba(20,20,20,0.6)" *ngIf="isBlockPage">
  <div class="p-4 flex bg-white rounded border border-solid border-mono-30">
    <div class="animate-spin">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M40 20C40 15.7764 38.6629 11.6612 36.1803 8.2443C33.6978 4.82734 30.1972 2.28403 26.1803 0.978869C22.1635 -0.32629 17.8365 -0.32629 13.8197 0.97887C9.80279 2.28403 6.30222 4.82734 3.81966 8.2443C1.3371 11.6612 -3.69237e-07 15.7764 0 20C3.69238e-07 24.2236 1.3371 28.3388 3.81966 31.7557C6.30222 35.1727 9.80279 37.716 13.8197 39.0211C17.8365 40.3263 22.1635 40.3263 26.1803 39.0211L24.6353 34.2658C21.6226 35.2447 18.3774 35.2447 15.3647 34.2659C12.3521 33.287 9.72667 31.3795 7.86475 28.8168C6.00282 26.2541 5 23.1677 5 20C5 16.8323 6.00282 13.7459 7.86474 11.1832C9.72667 8.62051 12.3521 6.71302 15.3647 5.73415C18.3774 4.75528 21.6226 4.75528 24.6353 5.73415C27.6479 6.71302 30.2733 8.62051 32.1353 11.1832C33.9972 13.7459 35 16.8323 35 20H40Z"
          fill="url(#paint0_linear)"/>
        <defs>
          <linearGradient id="paint0_linear" x1="0" y1="0" x2="38.0192" y2="41.8567" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1FFFFF"/>
            <stop offset="1" stop-color="#7A00F5"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="t-h5 ml-4 text-black">
      <span>
        Cargando...
      </span>
    </div>
  </div>
</div>
