<div class="p-4" *ngIf="isValidToken && !isError">
  <div class="text-3xl font-bold text-center text-outline-gray-3">
    <span>{{credential.name}}</span>
  </div>
  <div class="text-base text-center text-outline-gray-3 mt-4">
    <span>{{credential.description}}</span>
  </div>
  <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4 overflow-y-scroll" style="height: 87vh"
       *ngIf="!isBlockPage">
    <div>
      <div class="text-outline-gray-3 mt-6 flex gap-4 items-center">
        <div>
          <div
            class="rounded-lg border-solid border-2 border-container-gray-3 w-12 h-12 flex items-center justify-center">
            <span appIcon iconColor="text-outline-alert-success" iconName="checkmark circle"></span>
          </div>
        </div>
        <div class="text-outline-blue-3 text-2xl font-bold">
          <span>Signature Verified</span>
        </div>
      </div>
      <div class="mt-6 mx-6 flex flex-col gap-4 overflow-y-scroll px-4 container-viewer">
        <div *ngFor="let identifier of credential.identifiers; let position = index">
          <div class="text-outline-gray-3 font-bold flex gap-2 text-xl items-center" *ngIf="validateData(position)">
            <span>{{identifier.name}}</span>
            <span appIcon iconName="caret down" iconColor="text-outline-gray-3"
                  class="cursor-pointer transform {{sec1 && 'rotate-180'}}" (click)="sec1 = !sec1"></span>
          </div>
          <div *ngIf="sec1 && validateData(position)"
               class="border-solid border border-outline-gray-3 rounded flex gap-4 p-4 text-outline-gray-3 mt-4 w-full">
            <div class="flex flex-col gap-4 w-full">
              <div *ngFor="let item of identifier.attributes"><span
                *ngIf="validateAttributes(item.id)">{{item.name}}</span></div>
            </div>
            <div class="flex flex-col gap-4 w-full">
              <div *ngFor="let item of identifier.attributes"><span
                *ngIf="validateAttributes(item.id)">{{item.value}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="credential.files.length > 0 && validateFileData()" class="mt-6">
      <ec-dropdown class="w-full" [ecStyle]="ecDropFile" optionLabel="label" [data]="filesData" [filter]="false" [icon]="true" (onChangeValue)="changeDocument($event)"></ec-dropdown>
      <div class="w-full p-4" style="height: 80vh">
        <app-pdf-viewer [base64Document]="documentSelected"></app-pdf-viewer>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isValidToken && isError" class="w-screen h-screen flex items-center justify-center">
  <div class="border-2 rounded-lg border-solid border-outline-gray-3 flex items-center justify-center p-6 container-alert">
    <div class="text-outline-gray-3 mt-6 flex flex-col gap-4 items-center">
      <div class="w-20 h-20">
        <span appIcon iconColor="text-outline-alert-error w-full h-full" iconName="dismiss circle"></span>
      </div>
      <div class="text-outline-blue-3 text-2xl font-bold">
        <span>Invalid Signature</span>
      </div>
    </div>
  </div>
</div>

<app-block-ui [isBlock]="isBlockPage"></app-block-ui>

<ec-toast [toastStyle]="toastStyle"></ec-toast>
