<div class="dark:bg-slate-900 font-sans	 ">

  <div class="left flex flex-row space-x-4 items-center bg-slate-200 dark:bg-slate-800 justify-between p-4 ">
    <div class="flex items-center space-x-4 ">
      <div>
        <img src="./assets/img/Union.png" class="text-slate-50">
      </div>
      <div class="navbar  lg:block space-x-4 font-normal text-sm text-slate-900 dark:text-slate-50">
        <a href="">Home</a>
        <a href="">Explorer</a>
        <a href="">App</a>
        <a href="">Oferts</a>
        <a href="">Contact</a>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <button
        class=" space-x-2 items-center justify-between bg-slate-200 border-2 border-c  text-slate-900 text-center p-1 rounded dark:text-slate-50 dark:bg-slate-800">
        Register
      </button>
      <button
        class=" space-x-2 items-center justify-between text-center bg-c text-slate-50  p-2 rounded dark:text-slate-900">
        Sign in
      </button>
    </div>

  </div>

  <div class="p-12 flex items-center lg:flex-row md:flex-col sm:flex-col sm:p-12">
    <div class="pr-12">
      <div class="pb-6"><h1 class="dark:text-slate-50">BLion Blockchain Explorer</h1>
        <form class="flex flex-row items-center  ">

          <input type="text" value="search" class="border-slate-500 border-2 rounded w-96 p-1 mr-1 text-slate-500">
          <button
            class="flex flex-row lg:space-x-2 items-center justify-center bg-c text-slate-50 h-8 p-4 rounded dark:text-slate-900">
            Buscar
          </button>
        </form>
      </div>

      <div class="flex pb-6  lg:flex-row md:flex-row sm:flex-col ">
        <div class="flex flex-col p-2 pr-6 ">
          <div class="pb-4">
            <div class="indicative flex flex-row items-center space-x-2">
              <div class="icon w-11 h-11 rounded-full bg-c"></div>
              <div class="info">
                <div class="title">
                  <span class="text-xs text-slate-600 dark:text-slate-400">Ether Price</span>
                </div>
                <div class="data space-x-4 text-slate-900 text-sm dark:text-slate-50">
                  <span>$4,114.69</span>
                  <span>@ 0.07524 BTC</span>
                  <span class="text-red-600">(-0.34%)</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="indicative flex flex-row items-center space-x-2">
              <div class="icon w-11 h-11 rounded-full bg-c"></div>
              <div class="info">
                <div class="title">
                  <span class="text-xs text-slate-600 dark:text-slate-400">Market Cap</span>
                </div>
                <div class="data space-x-4 text-slate-900 text-sm dark:text-slate-50">
                  <span>$476,678,935,648.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col p-2">
          <div>
            <div class="indicative flex flex-row items-center space-x-2">
              <div class="icon w-11 h-11 rounded-full bg-c"></div>
              <div class="info">
                <div class="title flex justify-between">
                  <span class="text-xs text-slate-600 dark:text-slate-400">Transactions</span>
                  <span class="text-xs text-slate-600 dark:text-slate-400">Med Gas Price</span>
                </div>
                <div class="data space-x-4 text-slate-900 text-sm justify-between dark:text-slate-50">
                  <span>$4,114.69</span>
                  <span>(18.2 TPS)162 Gwei ($14.00)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-4">
            <div class="indicative flex flex-row items-center space-x-2">
              <div class="icon w-11 h-11 rounded-full bg-c"></div>
              <div class="info">
                <div class="title flex justify-between">
                  <span class="text-xs text-slate-600 dark:text-slate-400">Difficulty</span>
                  <span class="text-xs text-slate-600 dark:text-slate-400">Hash Rate</span>
                </div>
                <div class="data space-x-4 text-slate-900 text-sm justify-between dark:text-slate-50">
                  <span>7,750.02 TH</span>
                  <span>592,930.92 GH/s</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div>
          <div class="w-1/2  pr-12 pb-4">

            <div class=" flex justify-between">
              <div>
                <h1 class="dark:text-slate-50">Last Operations</h1>

                <div class="bg-slate-200 flex flex-row items-center rounded w-60 dark:bg-slate-800">
                  <button
                    class="lg:flex lg:flex-row lg:space-x-2 lg:items-center justify-center bg-c text-slate-50 h-8 p-4 m-2 rounded dark:text-slate-900 ">
                    Blocks
                  </button>
                  <button
                    class="lg:flex lg:flex-row lg:space-x-2 lg:items-center justify-center bg-slate-50 text-slate-900 h-8 p-4 m-2 rounded dark:text-slate-50 dark:bg-slate-900">
                    Transactions
                  </button>
                </div>
              </div>
              <div><span class="dark:text-slate-50">View All</span></div>

            </div>

          </div>

          <div>

          </div>

        </div>

      </div>

      <div class="dark:text-slate-50 ">
        <div class="bg-slate-200   flex flex-col left   dark:bg-slate-800 p-2 ">
          <div class="flex flex-row items-center  ">
            <div class="cuadrado bg-c h-12 w-12 rounded m-2"></div>
            <div class="texto flex flex-col w-64">
              <span>124421412521</span>
              <span>1 min 4 secs ago</span>
            </div>
            <div class="texto flex flex-col ">
              <span>Miner 0xaee21412512512421</span>
              <span>267 txns in 3 secs</span>
            </div>
          </div>
        </div>

        <div class="bg-slate-200   flex flex-col left   dark:bg-slate-800 p-2 ">
          <div class="flex flex-row items-center  ">
            <div class="cuadrado bg-c h-12 w-12 rounded m-2"></div>
            <div class="texto flex flex-col w-64">
              <span>124421412521</span>
              <span>1 min 4 secs ago</span>
            </div>
            <div class="texto flex flex-col ">
              <span>Miner 0xaee21412512512421</span>
              <span>267 txns in 3 secs</span>
            </div>
          </div>
        </div>

        <div class="bg-slate-200   flex flex-col left   dark:bg-slate-800 p-2 ">
          <div class="flex flex-row items-center  ">
            <div class="cuadrado bg-c h-12 w-12 rounded m-2"></div>
            <div class="texto flex flex-col w-64">
              <span>124421412521</span>
              <span>1 min 4 secs ago</span>
            </div>
            <div class="texto flex flex-col ">
              <span>Miner 0xaee21412512512421</span>
              <span>267 txns in 3 secs</span>
            </div>
          </div>
        </div>

        <div class="bg-slate-200   flex flex-col left   dark:bg-slate-800 p-2 ">
          <div class="flex flex-row items-center  ">
            <div class="cuadrado bg-c h-12 w-12 rounded m-2"></div>
            <div class="texto flex flex-col w-64">
              <span>124421412521</span>
              <span>1 min 4 secs ago</span>
            </div>
            <div class="texto flex flex-col ">
              <span>Miner 0xaee21412512512421</span>
              <span>267 txns in 3 secs</span>
            </div>
          </div>
        </div>

        <div class="bg-slate-200   flex flex-col left   dark:bg-slate-800 p-2 ">
          <div class="flex flex-row items-center  ">
            <div class="cuadrado bg-c h-12 w-12 rounded m-2"></div>
            <div class="texto flex flex-col w-64">
              <span>124421412521</span>
              <span>1 min 4 secs ago</span>
            </div>
            <div class="texto flex flex-col ">
              <span>Miner 0xaee21412512512421</span>
              <span>267 txns in 3 secs</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>

      <div class="nodes ">

        <div class="texto flex justify-between dark:text-slate-50">
          <span>Nodes on the World</span>
          <span>Full Screen</span>
        </div>
        <div class="flex flex-row">
          <div class="bg-slate-200 p-2 m-1 h-16 w-48 rounded flex flex-col dark:text-slate-800 dark:bg-slate-800">
            <span class="text-slate-600 dark:text-slate-400">Number of Nodes</span>
            <span class="dark:text-slate-50">21</span>
          </div>
          <div class="bg-slate-200 p-2 m-1 h-16 w-48 rounded flex flex-col dark:text-slate-800 dark:bg-slate-800">
            <span class="text-slate-600 dark:text-slate-400">Nodes Actives</span>
            <span class="dark:text-slate-50">7</span>
          </div>
          <div class="bg-slate-200 p-2 m-1 h-16 w-48 rounded flex flex-col dark:text-slate-800 dark:bg-slate-800">
            <span class="text-slate-600 dark:text-slate-400">Nodes Disables</span>
            <span class="dark:text-slate-50">14</span>
          </div>
        </div>

        <div><img src="./assets/img/mapamundi.png" class=" pl-1 pt-2 w-3/11/12 h-56 "></div>
      </div>

      <div class=" grafica">

        <h1 class="dark:text-slate-50 pt-4">History</h1>
        <samp class="dark:text-slate-50 pb-2">Acai Transactions in 14 days</samp>

        <div class=" pt-2  ">

          <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                            style="width: 100%; height: 340px; display: block;"></highcharts-chart>

        </div>

      </div>

    </div>

  </div>
</div>
