<div class="right-container" *ngIf="!isVerified">
  <div class="flex justify-center w-full p-6  overflow-y-auto" style="height: 90vh">
    <div class="sm:w-4/5 md:w-4/5 lg:w-1/2 flex flex-col items-center">
      <div class="text-outline-gray-3 text-h3 my-6 font-bold">
        <span>
         {{'ACTIVATE_WALLET' | translate}}
        </span>
      </div>

      <div class="w-full flex">
        <div class="h-12 w-5 bg-container-blue-3 ml-0 mr-4">
        </div>
        <div class="text-outline-gray-3 flex items-center">
          <span>
            Ingresar las palabras semillas que se le envio al correo: {{tokenUser.email}}, debe ingresarlo para validarlo.
          </span>
        </div>
      </div>
      <form class="w-full" [formGroup]="activateWalletForm">
        <div class="w-full mt-4">
          <div class="text-outline-gray-3 mb-2">
            <span>
              {{ 'MNEMONIC' | translate}}
            </span>
          </div>
          <textarea name="MNEMONIC" rows="10" cols="50" formControlName="mmemonic"
                    class="border-4 border-solid border-container-gray-1 bg-container-gray-1 w-full h-20 rounded-lg p-4 resize-none text-outline-gray-3 hover:border-outline-gray-4 focus:outline-none focus:ring-outline-gray-3 "></textarea>
        </div>

        <div class="w-full mt-4">
          <ec-input-text label="{{ 'ID_WALLET' | translate}}" txtColor="text-outline-gray-3" formControlName="id_wallet"
                         bgContainerColor="bg-container-gray-1" brContainerColor="border-outline-gray-4"></ec-input-text>
        </div>
      </form>

      <div class="w-full flex mt-12 pb-4">
        <div class="w-1/2 pr-2">
          <button class="border-container-blue-3 text-container-blue-3 h-12 w-full" routerLink="/auth/login">
            {{'CANCEL' | translate}}
          </button>
        </div>
        <div class="w-1/2 pl-2">
          <button class="border-container-blue-3 bg-container-blue-3 text-white h-12 w-full" (click)="sendCode()">
            {{'CANCEL' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isVerified" class="w-screen h-screen flex items-center justify-center">
  <div class="border-2 rounded-lg border-solid border-outline-gray-3 flex items-center justify-center p-6 container-alert">
    <div class="text-outline-gray-3 mt-6 flex flex-col gap-4 items-center">
      <div class="w-20 h-20">
        <span appIcon iconColor="text-outline-alert-success w-full h-full" iconName="checkmark circle"></span>
      </div>
      <div class="text-outline-blue-3 text-2xl font-bold">
        <span>Su Wallet ha sido verificada correctamente</span>
      </div>
      <div class="w-full">
        <button routerLink="/auth/login" class="w-full h-12 rounded-lg bg-container-blue-3 hover:bg-container-blue-2">
          Volver al Login
        </button>
      </div>
    </div>
  </div>
</div>


<div class="fixed top-0 z-50 bg-black  w-screen h-screen flex items-center justify-center" style="background: rgba(20,20,20,0.6)" *ngIf="isBlock">
  <div class="p-4 flex bg-white rounded border border-solid border-mono-30">
    <div class="animate-spin">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40 20C40 15.7764 38.6629 11.6612 36.1803 8.2443C33.6978 4.82734 30.1972 2.28403 26.1803 0.978869C22.1635 -0.32629 17.8365 -0.32629 13.8197 0.97887C9.80279 2.28403 6.30222 4.82734 3.81966 8.2443C1.3371 11.6612 -3.69237e-07 15.7764 0 20C3.69238e-07 24.2236 1.3371 28.3388 3.81966 31.7557C6.30222 35.1727 9.80279 37.716 13.8197 39.0211C17.8365 40.3263 22.1635 40.3263 26.1803 39.0211L24.6353 34.2658C21.6226 35.2447 18.3774 35.2447 15.3647 34.2659C12.3521 33.287 9.72667 31.3795 7.86475 28.8168C6.00282 26.2541 5 23.1677 5 20C5 16.8323 6.00282 13.7459 7.86474 11.1832C9.72667 8.62051 12.3521 6.71302 15.3647 5.73415C18.3774 4.75528 21.6226 4.75528 24.6353 5.73415C27.6479 6.71302 30.2733 8.62051 32.1353 11.1832C33.9972 13.7459 35 16.8323 35 20H40Z" fill="url(#paint0_linear)"/>
        <defs>
          <linearGradient id="paint0_linear" x1="0" y1="0" x2="38.0192" y2="41.8567" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1FFFFF"/>
            <stop offset="1" stop-color="#7A00F5"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="t-h5 ml-4 text-black">
      <span>
        Cargando...
      </span>
    </div>
  </div>
</div>
