<div class="right-container" *ngIf="!isVerified">
  <div class="flex justify-center w-full p-6  overflow-y-auto" style="height: 90vh">
    <div class="sm:w-4/5 md:w-4/5 lg:w-1/2 flex flex-col items-center">
      <div class="text-outline-gray-3 text-h3 my-6 font-bold">
        <span>
         {{'ACTIVATE_ACCOUNT' | translate}}
        </span>
      </div>

      <div class="w-full flex">
        <div class="h-12 w-6 bg-container-blue-3 mr-4">
        </div>
        <div class="text-outline-gray-3 flex items-center">
          <span>
            Le enviamos un código de verificación al correo registrado: {{tokenUser.email}}, debe ingresarlo para validarlo.
          </span>
        </div>
      </div>

      <div class="w-full mt-4">
        <form [formGroup]="activateUserForm">
          <ec-input-text label="{{ 'ACCESS_CODE' | translate}}" txtColor="text-outline-gray-3"
                         bgContainerColor="bg-container-gray-1" brContainerColor="border-outline-gray-4"
                         formControlName="access_code" (keypress)="onlyNumber($event)"></ec-input-text>
        </form>
      </div>
      <div class="w-full flex mt-12 pb-4">
        <div class="w-1/2 pr-2">
          <button class="border-container-blue-3 text-container-blue-3 h-12 w-full" routerLink="/home">
            {{'CANCEL' | translate}}
          </button>
        </div>
        <div class="w-1/2 pl-2">
          <button class="border-container-blue-3 bg-container-blue-3 text-white h-12 w-full" (click)="sendCode()">
            {{'CANCEL' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isVerified" class="w-screen h-screen flex items-center justify-center">
  <div class="border-2 rounded-lg border-solid border-outline-gray-3 flex items-center justify-center p-6 container-alert">
    <div class="text-outline-gray-3 mt-6 flex flex-col gap-4 items-center">
      <div class="w-20 h-20">
        <span appIcon iconColor="text-outline-alert-success w-full h-full" iconName="checkmark circle"></span>
      </div>
      <div class="text-outline-blue-3 text-2xl font-bold">
        <span>Su cuenta ha sido verificada correctamente</span>
      </div>
      <div class="w-full">
        <button routerLink="/auth/login" class="w-full h-12 rounded-lg bg-container-blue-3 hover:bg-container-blue-2">
          Volver al Login
        </button>
      </div>
    </div>
  </div>
</div>

<app-block-ui [isBlock]="isBlock"></app-block-ui>
