@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  :root {
    --c-brand-d-3: #522200;
    --c-brand-d-2: #7A3300;
    --c-brand-d-1: #CC5500;
    --c-brand-c: #FF6B00;
    --c-brand-l-1: #FF9447;
    --c-brand-l-2: #FFAC70;
    --c-brand-l-3: #FFDBC2;
    --c-alert-error-l: #FF666E;
    --c-alert-success-l: #2ABB54;
    --c-alert-info-l: #4C8AFF;
    --c-alert-warning-l: #FFB119;
    --c-alert-error-d: #DA1E28;
    --c-alert-success-d: #1C7D38;
    --c-alert-info-d: #0150E4;
    --c-alert-warning-d: #CC8700;
  }
  .theme-light {
    --c-fl-brand-d-3: var(--c-brand-d-3);
    --c-fl-brand-d-2: var(--c-brand-d-2);
    --c-fl-brand-d-1: var(--c-brand-d-1);
    --c-fl-brand-c: var(--c-brand-c);
    --c-fl-brand-l-1: var(--c-brand-l-1);
    --c-fl-brand-l-2: var(--c-brand-l-2);
    --c-fl-brand-l-3: var(--c-brand-l-3);
    --c-fl-alert-error: var(--c-alert-error-d);
    --c-fl-alert-success: var(--c-alert-success-d);
    --c-fl-alert-info: var(--c-alert-info-d);
    --c-fl-alert-warning: var(--c-alert-warning-d);
  }
}
@layer utilities {
  .theme-dark {
    --c-fl-brand-d-3: var(--c-brand-l-3);
    --c-fl-brand-d-2: var(--c-brand-l-2);
    --c-fl-brand-d-1: var(--c-brand-l-1);
    --c-fl-brand-c: var(--c-brand-c);
    --c-fl-brand-l-1: var(--c-brand-d-1);
    --c-fl-brand-l-2: var(--c-brand-d-2);
    --c-fl-brand-l-3: var(--c-brand-d-3);
    --c-fl-alert-error: var(--c-alert-error-l);
    --c-fl-alert-success: var(--c-alert-success-l);
    --c-fl-alert-info: var(--c-alert-info-l);
    --c-fl-alert-warning: var(--c-alert-warning-l);
  }
}
.ec-container {
  @apply px-6 md:px-12 lg:px-16 2xl:px-24;
}
