@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  :root {
    --c-brand-d-3: #522200;
    --c-brand-d-2: #7A3300;
    --c-brand-d-1: #CC5500;
    --c-brand-c: #FF6B00;
    --c-brand-l-1: #FF9447;
    --c-brand-l-2: #FFAC70;
    --c-brand-l-3: #FFDBC2;

    --c-slate-5: #F8FAFC;
    --c-slate-20: #E2E8F0;
    --c-slate-40: #94A3B8;
    --c-slate-50: #64748B;
    --c-slate-60: #475569;
    --c-slate-80: #1E293B;
    --c-slate-90: #0F172A;

    --c-alert-error-l: #FF666E;
    --c-alert-success-l: #2ABB54;
    --c-alert-info-l: #4C8AFF;
    --c-alert-warning-l: #FFB119;
    --c-alert-error-d: #DA1E28;
    --c-alert-success-d: #1C7D38;
    --c-alert-info-d: #0150E4;
    --c-alert-warning-d: #CC8700;
  }
  .theme-light {
    --c-fl-brand-d-3: var(--c-brand-d-3);
    --c-fl-brand-d-2: var(--c-brand-d-2);
    --c-fl-brand-d-1: var(--c-brand-d-1);
    --c-fl-brand-c: var(--c-brand-c);
    --c-fl-brand-l-1: var(--c-brand-l-1);
    --c-fl-brand-l-2: var(--c-brand-l-2);
    --c-fl-brand-l-3: var(--c-brand-l-3);

    --c-fl-black: var(--c-slate-90);
    --c-fl-white: var(--c-slate-5);

    --c-fx-black: var(--c-slate-90);
    --c-fx-white: var(--c-slate-5);

    --c-fl-slate-5: var(--c-slate-5);
    --c-fl-slate-20: var(--c-slate-20);
    --c-fl-slate-40: var(--c-slate-40);
    --c-fl-slate-50: var(--c-slate-50);
    --c-fl-slate-60: var(--c-slate-60);
    --c-fl-slate-80: var(--c-slate-80);
    --c-fl-slate-90: var(--c-slate-90);

    --c-fl-alert-error: var(--c-alert-error-d);
    --c-fl-alert-success: var(--c-alert-success-d);
    --c-fl-alert-info: var(--c-alert-info-d);
    --c-fl-alert-warning: var(--c-alert-warning-d);
  }
}
@layer utilities {
  .theme-dark {
    --c-fl-brand-d-3: var(--c-brand-l-3);
    --c-fl-brand-d-2: var(--c-brand-l-2);
    --c-fl-brand-d-1: var(--c-brand-l-1);
    --c-fl-brand-c: var(--c-brand-c);
    --c-fl-brand-l-1: var(--c-brand-d-1);
    --c-fl-brand-l-2: var(--c-brand-d-2);
    --c-fl-brand-l-3: var(--c-brand-d-3);

    --c-fl-black: var(--c-slate-5);
    --c-fl-white: var(--c-slate-90);

    --c-fx-black: var(--c-slate-90);
    --c-fx-white: var(--c-slate-5);

    --c-fl-slate-5: var(--c-slate-90);
    --c-fl-slate-20: var(--c-slate-80);
    --c-fl-slate-40: var(--c-slate-60);
    --c-fl-slate-50: var(--c-slate-50);
    --c-fl-slate-60: var(--c-slate-40);
    --c-fl-slate-80: var(--c-slate-20);
    --c-fl-slate-90: var(--c-slate-5);

    --c-fl-alert-error: var(--c-alert-error-l);
    --c-fl-alert-success: var(--c-alert-success-l);
    --c-fl-alert-info: var(--c-alert-info-l);
    --c-fl-alert-warning: var(--c-alert-warning-l);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.t-title {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.t-subtitle {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.t-body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.t-body-b {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.t-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.t-label-b {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}


.t-subtitle-1 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-subtitle-2 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-body-1 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-body-2 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.t-button-1 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-button-2 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.t-caption-1 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
}

.t-caption-2 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 1rem;
  flex-wrap: wrap;
}

.t-caption-3 {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 400;
  font-size: 10px;
  line-height: 8px;
}

.t-overline {
  font-family: Roboto, Arial, "PT Sans";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 0.05rem;
}

.bj-header {
  @apply fixed top-0 z-50 backdrop-blur-xl flex flex-row items-center justify-between w-full h-16 space-x-4 bj-container bg-white/50 dark:bg-black/50 border-b border-st-20;
  .brand {
    @apply text-st-90;
  }
  .navbar {
    @apply hidden space-x-4 t-body md:block text-st-90;
    a:hover {
      @apply t-body-b;
    }
  }
  .left {
    @apply flex items-center space-x-4;
  }
  .right {
    @apply items-center space-x-2 hidden md:flex;
  }
  .b-menu-burger {
    @apply flex items-center justify-center w-10 h-10 rounded text-st-90 hover:bg-st-5;
  }
}

.bj-menu-burger {
  @apply fixed z-50 flex flex-col w-full t-body drop-shadow-lg text-st-90 top-16 backdrop-blur-xl bg-white/50 dark:bg-black/50 border-b border-st-40;
  div {
    @apply flex space-x-4 p-6;
    button {
      @apply h-8 flex-1;
    }
  }
  a {
    @apply flex-1 py-4 bj-container hover:bg-slate-200 dark:hover:bg-slate-800;
  }
}

.bj-container {
  @apply px-6 md:px-12 lg:px-16 2xl:px-24;
}

button {
  @apply h-10;
}

.b-solid, .b-outline, .b-ghost {
  @apply t-body-b hover:bg-st-20 hover:text-st-90 hover:border hover:border-st-40 rounded px-4 active:bg-c focus:outline-none focus:ring-2 focus:ring-d-1 disabled:bg-st-20 disabled:text-st-40 disabled:border-none;
}

.b-solid {
  @apply bg-c text-white-fx
}
.b-outline {
  @apply border border-c text-st-90
}
.b-ghost {
  @apply text-st-90
}

.bj-input-group {
  @apply flex flex-col space-y-1;
  label {
    @apply t-label text-st-80 flex-1;
  }
  div {
    @apply flex items-center space-x-2;
    span {
      @apply t-overline text-st-60;
    }
  }
  input, select, textarea {
    @apply p-2 border border-st-60 bg-st-5 rounded text-st-90 placeholder-st-50 t-body w-full;
  }
  span {
    @apply text-alert-error t-label;
  }
}

.bj-input {
  @apply h-10 border rounded px-2 t-body border-st-50 text-st-90 bg-st-5 placeholder-st-50;
}

svg {
  @apply fill-current
}

*:disabled {
  pointer-events:none;
}

::-webkit-scrollbar {
  @apply w-4 h-4
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-st-20
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-st-40
}

/* STYLES EXPLORER */

.explorer-container {
  @apply flex flex-col w-full pt-16;
  .body {
    @apply bj-container flex flex-col w-full py-12 space-y-12;
    .sections {
      @apply flex flex-col w-full space-y-12 lg:space-y-0 lg:space-x-12 lg:flex-row;
      .section {
        @apply flex flex-col space-y-12 lg:w-1/2;
        .section-search {
          @apply space-y-12;
          .buscador {
            @apply space-y-2 lg:w-2/3;
            .parameters {
              @apply flex flex-row items-center w-full space-x-2;
            }
          }
          .indicadores {
            @apply grid gap-8 break-all md:grid-cols-2;
            .indicative {
              @apply flex flex-row items-center w-full space-x-2;
              .icon {
                @apply rounded-full w-12 h-12 flex items-center text-white-fx justify-center bg-c;
              }
              .info {
                @apply flex space-x-2 flex-1 justify-between;
                .left, .right {
                  @apply flex flex-col;
                  span:first-child {
                    @apply t-label text-st-60;
                  }
                  span:last-child {
                    @apply t-body text-st-90;
                  }
                }
                .right{
                  @apply text-right;
                }
              }
            }
          }
        }
        .section-operations {
          @apply space-y-2;
          .header {
            @apply flex flex-col space-y-2;
            .type-operation {
              @apply flex flex-row items-center justify-between;
              .tabs {
                @apply p-2 space-x-2 rounded bg-st-20
              }
              .pagination {
                @apply p-1 rounded overflow-hidden border border-st-40 flex items-center space-x-2;
                button {
                  @apply w-10 flex items-center justify-center;
                }
                span {
                  @apply text-st-90 t-body-b;
                }
              }
            }
          }
          .list-operations {
            @apply p-2 space-y-2 overflow-hidden rounded t-body text-st-90 bg-st-20;
            .item-operation {
              @apply flex flex-row items-center space-x-2 rounded cursor-pointer hover:bg-st-5 p-2 active:bg-st-40;
              .cuadrado {
                @apply w-10 h-10 rounded bg-c text-white-fx flex items-center justify-center;
              }
              .circulo {
                @apply w-10 h-10 rounded-full bg-c text-white-fx flex items-center justify-center;
              }
              .body-item {
                @apply flex-1 items-center flex space-x-2;
                .text-a {
                  @apply flex flex-col w-2/5;
                }
                .text-b {
                  @apply flex flex-col w-3/5;
                }
                span:last-child {
                  @apply t-label text-st-60;
                }
              }
            }
            .notify-null {
              @apply flex items-center space-x-2;
              svg {
                @apply text-alert-warning;
              }
              span {
                @apply t-body text-st-90;
              }
            }
          }
        }
        .section-nodes {
          @apply space-y-2;
          .header {
            @apply flex flex-row items-center justify-between;
            .b-full-screen {
              @apply flex flex-row items-center space-x-1 text-st-90;
            }
          }
          .number-nodes {
            @apply flex flex-row w-full space-x-2 t-body text-st-90;
            .nodes {
              @apply flex flex-col flex-1 p-2 rounded bg-st-20;
              span:first-child{
                @apply text-xs text-st-60 t-label;
              }
            }
          }
          .map {
            @apply w-full w-full rounded overflow-hidden
          }
        }
        .section-history {
          @apply space-y-2;
          .header {
            @apply flex flex-row items-center justify-between;
            .b-more {
              @apply flex flex-row items-center space-x-1 text-st-90;
            }
          }
          .chart {
            @apply w-full overflow-hidden rounded;
          }
        }
      }
    }
  }
}

/* END STYLES EXPLORER */

/* DATA VIEWER */

.data-viewer-container {
  @apply bj-container space-y-6 py-12;
  .header {
    @apply flex flex-col md:flex-row items-end md:items-center gap-6;
    .title {
      @apply w-full md:w-auto md:flex-1 flex flex-col text-st-90;
    }
    .firm {
      @apply flex items-center rounded space-x-4 p-3 bg-alert-success text-st-5;
    }
  }
  .top-divider {
    @apply w-full border-b border-st-20;
  }
  .body {
    @apply gap-12 flex flex-col lg:flex-row-reverse;
    .section-a {
      @apply w-full lg:w-2/3 space-y-12;
      .timer-container {
        @apply flex w-full flex-col space-y-6;
        .title {
          @apply flex flex-col space-y-2;
        }
        .timers {
          @apply w-full flex space-x-8;
          .timer {
            @apply flex w-full justify-center md:w-auto items-center space-x-2;
            span:first-child {
              @apply t-title text-c;
            }
            span:last-child {
              @apply t-subtitle text-st-60;
            }
          }
        }
      }
      .credential-container {
        @apply flex flex-col space-y-2;
        .title {
          @apply flex items-center justify-between;
          .copy-action {
            @apply flex t-body items-center text-st-90 space-x-2;
          }
        }
        .credential-data {
          @apply text-st-90 bg-st-20 w-full grid grid-cols-2 p-6 gap-6;
          .attribute {
            @apply flex flex-col space-y-1;
            span:first-child {
              @apply t-label;
            }
            span:last-child {
              @apply t-body-b;
            }
          }
        }
      }
    }
    .bj-divider {
      @apply w-full lg:w-auto lg:flex-1 lg:border-l border-t border-st-20;
    }
    .section-b {
      @apply w-full lg:w-1/3 space-y-4;
      .title {
        @apply flex flex-col space-y-2 w-full text-st-90 t-subtitle;
      }
      .visor {
        @apply rounded overflow-hidden h-[32rem] w-full bg-st-20;
      }
    }
  }
}

/* END DATA VIEWER */

/* MODAL */

.modal-container {
  @apply h-screen fixed top-0 left-0 w-full backdrop-blur-xl bg-white/50 dark:bg-black/50;
  .modal {
    @apply flex flex-col lg:w-1/2 bg-st-5 h-full ml-auto mt-16 lg:border-l lg:border-st-40;
    height: calc(100vh - 64px);
    .header {
      @apply px-6 py-4 flex items-center justify-between border-b border-st-40 t-title text-st-90;
      .b-ghost {
        @apply w-10 h-10 flex justify-center items-center;
      }
    }
    .body {
      @apply p-6 md:p-12 flex-1 w-full space-y-6 overflow-y-auto;
      .section {
        @apply flex flex-col space-y-4;
      }
      .section-abstract {
        .info {
          @apply flex flex-col md:flex-row gap-4;
          .abstract {
            @apply text-st-90 t-body flex flex-col space-y-4 flex-1;
            .data {
              @apply flex flex-col space-y-1;
              span:first-child {
                @apply text-c t-label-b;
              }
            }
          }
          .abstract-noqr {
            @apply text-st-90 t-body grid grid-cols-2 lg:grid-cols-4 gap-4 flex-1;
            .data {
              @apply flex flex-col space-y-1;
              span:first-child {
                @apply text-c t-label-b;
              }
            }
          }
          .qr-code {
            @apply flex flex-col space-y-2 md:items-end;
            div {
              @apply bg-st-40 rounded overflow-hidden;
              width: 200px;
              height: 200px;
              img {
                @apply w-full h-full;
              }
            }
            a {
              @apply t-label text-st-90 underline;
            }
          }
        }
      }
      .section-details {
        .details {
          @apply break-all text-st-90 t-body rounded bg-st-20 p-4 space-y-4;
          .primary-data {
            @apply rounded flex-col md:flex-row flex border border-st-40 p-4 gap-4;
          }
          .data-group {
            @apply grid md:grid-cols-2 gap-4;
          }
          .data {
            @apply flex flex-col space-y-1;
            span:first-child {
              @apply text-c t-label-b;
            }
          }
        }
      }
      .section-data {
        .data-container {
          @apply text-st-90 bg-st-20 w-full grid md:grid-cols-2 p-4 gap-4;
          .attribute {
            @apply flex flex-col space-y-1;
            span:first-child {
              @apply t-label-b text-c;
            }
            span:last-child {
              @apply t-body;
            }
          }
        }
      }
      .notify-null {
        @apply flex items-center space-x-2;
        svg {
          @apply text-alert-warning;
        }
        span {
          @apply t-body text-st-90;
        }
      }
    }
  }
}

/* END MODAL */

.form-login {
  @apply flex flex-col p-6 lg:p-32 flex-none lg:items-center lg:justify-center lg:w-1/2 space-y-12
}

label {
  @apply t-caption-2 text-st-40
}

.input-style {
  @apply px-2 h-10 t-body-1 text-black bg-st-40 rounded
}

.footer-login {
  @apply flex flex-row justify-between items-center px-6 w-full h-12
}

.gutter {
  @apply bg-st-40 bg-no-repeat;
  background-position: 50%;
}

.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
