<div class="body-polices overflow-y-auto">
  <div class="font-bold text-st-90 text-2xl text-center mt-4">
    <span>Terms and Conditions</span>
  </div>

  <div class="p-4">
    <div class="mt-4">
      <div class="font-bold text-st-90 text-xl">
        <span>Privacy Policy - BLion Blockchain</span>
      </div>
      <div class="text-st-90 text-sm italic">
        <span>Published: {{dateNow | date: 'medium': 'UTC'}}.</span>
      </div>
    </div>
    <div class="mt-4 px-4">
      <div class="font-bold text-st-90 text-xl">
        <span>Your privacy is important to us</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>This Privacy Policy describes how BLion collects and processes your personal information through BLion's
          websites and applications that reference this Privacy Notice. BLion refers to an ecosystem comprising
          Bjungle's
          websites (whose domain names include, but are not <span class="text-outline-alert-info cursor-pointer">www.bjungle.net</span>,
          <span class="text-alert-info cursor-pointer">www.BLion.com</span>; <span
            class="text-alert-info cursor-pointer">www.blionscan.org</span>),
          mobile
          applications, clients, applets and other applications that are developed to offer BLion services and include
          independently operated platforms. , websites and customers within the ecosystem (e.g. Blion's open platform.
          "BLion operators" means all parties that administer BLion, including but not limited to legal entities,
          unincorporated organizations and teams that provide BLion's services and are responsible for such services.
          "BLion", as used in this Policy, includes BLion Operators.
          This Privacy Policy applies to all platforms, websites and departments of BLion and BLion Operators. By
          using
          the BLion Services you consent to the collection, storage, processing and transfer of your personal
          information
          as described in this Privacy Policy.
        </p>
      </div>
      <div class="font-bold text-st-90 text-xl mt-4">
        <span>Introduction</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>We are an online platform for natural and legal persons. People use our Services to shape their digital
          identity
          and identify themselves through digital documents; as well as to access the self-identifying information of
          other
          persons (with prior authorization). Our Privacy Policy applies to any Member or Visitor to our Services. Our
          registered users ("Members") share their identity, interact with their environment, exchange personal
          information
          autonomously and voluntarily. The content and data on some of our Services are available to non-members
          ("Visitors"). We use the term "Designated Countries" to refer to countries in the European Union (EU), the
          European Economic Area (EEA) and Switzerland.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>1. What personal information about users does BLion collect?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>BLion collects your personal information to enable individuals to shape their self-governing digital
          identity, as well as to continually provide and improve our products and services.
          These are the types of personal information we collect:
          Information you provide to us: We receive and store any information you provide to us in connection with
          BLion. You may choose not to provide certain information, but you may not be able to use some of the BLion
          Services. Some examples of information you provide to us are:
        </p>
        <div class="ml-4">
          <ul class="list-disc list-inside mt-2">
            <li>E-mail address</li>
            <li>Name</li>
            <li>Gender</li>
            <li>Password</li>
            <li>Nationality</li>
            <li>Country Code</li>
            <li>Other information that helps us identify you</li>
            <li>If you sign up for a Premium Service, you will need to provide payment (e.g., credit card) and billing
              information
            </li>
          </ul>
        </div>
        <p class="mt-2">
          Automatically Collected Information: We automatically collect and store certain types of information about
          your
          use of the BLion Services, including your interaction with the content and services available through the
          BLion Services. Like many websites, we use cookies and other unique identifiers and obtain certain types of
          information when your web browser or device accesses the BLion Services. Examples of the information we
          collect and analyze include:
        </p>
        <div class="ml-4">
          <ul class="list-disc list-inside mt-2">
            <li>The Internet Protocol (IP) address used to connect your computer to the Internet, login, email address,
              password, and location of your device or computer
            </li>
            <li>BLion Services metrics (e.g., the occurrence of technical errors, your interactions with the functions
              and
              content of the service, and your configuration preferences)
            </li>
            <li>Version and time zone settings</li>
            <li>Transaction history</li>
            <li>Information from Other Sources: We may receive information about you from other sources, such as credit
              history information from credit reporting agencies, which we use to help prevent and detect fraud
            </li>
          </ul>
        </div>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>2. Can children use BLion's services?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>BLion allows its use without restrictions for people over 15 years of age. Persons undertheage of 15 may
          use the services of BLion with an account aparda by the account of an over 18 years of age.
          Changes to the Privacy Policyapply to your use of our Services after the "effective date".
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>3. For what purposes does BLion process my personal information?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>We process your personal information to operate, provide and improve the BLion Services we offer to our
          users. These purposes include:
          Self-governing digital identificationservices. We use yourpersonal information to communicate with you about
          orders, services, and promotional offers.
          Provide, troubleshoot, and improve BLion's services. We use your personal information to provide
          functionality, analyze performance, correct errors, and improve the usability and effectiveness of the
          BLionServices.
          Recommendations and personalization. We use your personal information to recommend features and services that
          might interest you, identify your preferences, and personalize your experience with the BLion Services.
          Comply with legal obligations. In certain cases, we collect and use your personal information to comply with
          laws and regulations. For example, we collect information provided by third parties for identity verification
          and other purposes.
          Communicate with you. We use your personal information to communicate with you in connection with the
          BLionServices.
          Prevention of fraud and credit risks. We process personal information to prevent and detect fraud and abuse to
          protect the security of our users, the BLion Services, and others. We may also use scoring methods to assess
          and manage credit risks.
          Purposes for which we seek your consent. We may also request your consent to process your personal information
          for a specific purpose that we communicate to you. Where you consent to us processing your personal
          information for a specific purpose, you can withdraw your consent at any time, and we will stop processing
          your data for that purpose.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>4. What about cookies and other identifiers?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>We use cookies and similar tools to improve your user experience, provide our services, and understand how
          customers use our services so that we can make improvements. To allow our systems to recognize your browser or
          device and to provide you withthe BLion Services, we use cookies.
          We use operational cookies and similar tools (collectively, "cookies") to provide our services, for example:
        </p>
        <div class="ml-4">
          <ul class="list-disc list-inside mt-2">
            <li>Recognize you when you register to use our services</li>
            <li>Provide personalized features and services</li>
            <li>Display features and services that may be of interest to you, including advertisements on our services
            </li>
            <li>Prevention of fraudulent activities</li>
            <li>Improving security</li>
            <li>Track your preferences, such as currency and language</li>
            <li>Other information that helps us identify you</li>
            <li>We also use cookies to understand how users use our services so that we can make improvements</li>
          </ul>
        </div>
        <p>
          Your browser settings will tell you how to prevent your browser from accepting new cookies, how to have the
          browser notify you when you receive a new cookie, how to disable and delete cookies, and when cookies will
          expire.
          Operational cookies allow you to take advantage of some ofBLion's essential characteristics. If you block or
          reject operational cookies through your browser settings, some features and services may not work.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>5. Does BLion share my personal information?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>Information about our users is an important part of our business and we are not in the business of selling
          our users' personal information to others. BLion shares users' personal information only as described below
          and with BLion subsidiaries or affiliates that are subject to this Privacy Notice or follow practices at
          least as protective as those described in this Privacy Notice.
          Third-party service providers: We engage other companies and individuals to perform functions on our behalf.
          Examples include analyzing data, providing marketing assistance, processing payments, streaming content, and
          assessing and managing credit risk. These third-party service providers have access to personal information
          necessary to perform their functions but may not use it for other purposes. In addition, they must process
          personal information in accordance with this Privacy Notice and as permitted by applicable data protection
          laws.
          Business Transfers: As we continue to develop our business, we may sell or purchase other businesses or
          services. In such transactions, user information is generally one of the transferred businesses assets but
          remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the user consents
          otherwise). In addition, in the unlikely event that BLion or substantially all its assets are acquired, user
          information will be one of the transferred assets.
          Protection of BLion and Others: We disclose the account and other personal information when we believe
          disclosure is appropriate to comply with the law or our regulatory obligations; enforce or apply our Terms of
          Use and other agreements; or protect the rights, property, or safety of BLion, our users, or others. This
          includes exchanging information with other companies and organizations for fraud protection and credit risk
          reduction.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>6. International transfers of personal data</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>BLion may transfer your data outside the European Economic Area ("EEA"). BLion establishes appropriate
          safeguards to ensure that such transfer is carried out in accordance with applicable data protection rules,
          except where the European Commission has already determined that the country to which the data is transferred
          provides an adequate level of protection.
          When BLion transfers personal data to affiliates or service providers, BLion relies on the standard
          contractual clauses approved by the European Commission.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>7. How secure is my information?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>We design our systems thinking about their security and privacy, this is the main reason why our entire
          architecture is based on decentralized systems that operate on Blockchain technology. We work to protect the
          security of your personal information during transmission by using encryption protocols and software.
          We maintain physical, electronic, and procedural safeguards in relation to the collection, storage, and
          disclosure of your personal information. Our security procedures mean that we may ask you to verify your
          identity before disclosing personal information to you.
          It is important that you protect yourself against unauthorized access to your account password. We recommend
          using a unique password for your BLion account that is not used for other online accounts. Be sure to log
          out when you finish using a shared computer.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>8. What about advertising?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>We may share your personal information with our marketing partners for purposes of targeting, modeling and/or
          analysis, as well as marketing and advertising.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>9. What information can I access?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>You can access your information, including your name, address, profile information and transaction history in
          the "Your Account" section through our mobile app.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>10. What options do I have?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>If you have any questions or objections about how we collect and process your personal information, please
          contact <span class="text-alert-info cursor-pointer">support@bjungle.net</span>.
          Where you consent to us processing your personal information for a specific purpose, you can withdraw your
          consent at any time, and we will stop any further processing of your data for that purpose.
          In addition, subject to applicable law, you have the right to request access, correct and delete your personal
          data, and to request data portability. You can also object to our processing of your personal data or request
          that we restrict the processing of your personal data in certain cases. If you would like to do any of these
          things, please contact <span class="text-alert-info cursor-pointer">support@bjungle.net</span>.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>11. How long does BLion keep my personal information?</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>We retain your personal information to enable your continued use of the BLionServices, for as long as
          necessary to fulfill the relevant purposes described in this Privacy Notice, as required by law, such as for
          tax and accounting purposes, or as otherwise communicated to you.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>12. EU and UK GDPR (General Data Protection Regulation) data protection laws: legal basis.</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>EU GDPR and UK data protection laws require a legal basis for our use of personal information. Our basis
          varies depending on the specific purpose for which we use the personal information. We trust in:
        </p>
        <div class="ml-4">
          <ul class="list-disc list-inside mt-2">
            <li>Performance of a contract when we provide or communicate with you about products or services. This
              includes when we use your personal information to take and handle orders and process payments.
            </li>
            <li>Our legitimate business interests and the interests of our users when we detect and prevent fraud and
              abuse to protect the safety of our users, ourselves or others.
            </li>
            <li>Your consent when we ask for your consent to process your personal information for a specific purpose
              that we communicate to you. Where you consent to us processing your personal information for a specific
              purpose, you can withdraw your consent at any time, and we will stop processing your data for that
              purpose.
            </li>
            <li>Compliance with a legal obligation when we use your personal information to comply with laws. For
              example, we collect information from third parties for identity verification purposes.
            </li>
            <li>These and other legal bases depending on the purpose for which we use the personal information.
          </ul>
        </div>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>13. Contact Information</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>You can contact our data protection officer at <span class="text-alert-info cursor-pointer">support@bjungle.net</span>, and will work to address any questions
          or issues you have regarding the collection and processing of your personal information.
        </p>
      </div>

      <div class="font-bold text-st-90 text-xl mt-4">
        <span>14. Terms of Use, Notices and Revisions</span>
      </div>
      <div class="text-st-80 text-base text-justify mt-2">
        <p>If you choose to use the BLion Services, your use and any disputes about privacy are subject to this Notice
          and our Terms of Use. If you have any concerns about privacy at BLion, please contact us with a detailed
          description and we will try to resolve them. You also have the right to contact your local data protection
          authority.
          Our business is constantly changing, and our Privacy Notice will also change. You should check our websites
          frequently for recent changes. If you do not agree with the revised content, you must stop accessing BLion
          or any of its technology affiliates immediately. When an updated version of the Privacy Policy is posted, your
          continued access to BLion means that you accept the updated content and agree to comply with the updated
          Privacy Policy. Unless otherwise stated, our current Privacy Notice applies to all information we hold about
          you and your account.
        </p>
      </div>

    </div>
  </div>
</div>

